.trade-marquee-area{
  height: 60%;
}
.marquee-text-area{
  height: 100%;
  .custom-marquee{
    h1{
      font-size: 180px;
      font-family: "Anton", sans-serif;
      font-weight: 400;
      font-style: normal;
      color: white;
      letter-spacing: 3px;
    }

  }

}

.rotating-image {
  //transform: rotate(-5deg); /* Initial rotation */
  transition: transform 0.4s ease; /* Smooth transition */
}

.rotating-image:hover {
  transform: rotate(-45deg); /* Rotate to 90 degrees on hover */
}
.trade-last-contact{
  h1{
    font-size: 22px;
  }
}
.trade-section-last-border{
  border-bottom: 2px solid black;
}

@media (max-width: 600px) {

  .trade-marquee-area{
    height: 40%;
    background-color: #6b7280;
  }
  .marquee-text-area{
    .custom-marquee{
      font-size: 70px !important;
      font-family: "Anton", sans-serif;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 3px;

    }
    img{
      top: -30px;
    }
  }
  .social-icons-width{
    width: 50%;
    .icon-height{
      height: 50%;
    }

  }
  .trade-logo-width{
    width: 30%;
  }
  .trade-section-last-width{
    width: 40%;
  }
  .trade-last-contact{
    height: 100%;
    width: 50%;
    p{
      font-size: 14px !important;
      text-align: center;
    }
  }
  .trade-contact-sec{
     width: 90%;
      font-size: 16px !important;

  }
  .copyright-text{
    font-size: 20px;
  }

}

@media (min-width: 320px) and (max-width: 599px) {
  .trade-height-res{
    height: 80vh;
  }
  .trade-marquee-area{
    height: 40%;
    //background: #1c64f2 !important;
  }
  .custom-font{
    font-size: 30px !important;
    line-height: 30px !important;
  }
  .marquee-text-area{
    height: 50vh;
    .rotating-image{
      height: 200px !important;
      top: 65px;
    }
    .custom-marquee{
      height: 60px;
  h1{
  font-size: 50px !important;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  letter-spacing: 3px;
  }

    }
    //img{
    //  top: -80px !important;
    //}
  }
  .social-icons-width{
    width: 90%;
    justify-content: space-between;
    align-items: center;
    .social-icons-width{
      width: 100%;
    }
    .icon-height{
      height: 50%;
      gap: 10px;
    }

  }
  .trade-logo-width{
    width: 60%;
  }
  .trade-logo-icons-sec{
    height: 50%;
  }
  .icon-height{
    width: 20%;
  }
  .trade-section-last-width{
    width: 40%;
  }
  .trade-last-contact{
    padding: 10px 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
      font-size: 16px !important;
      text-align: center;
    }
  }
  .trade-contact-sec{
     width: 100%;
      font-size: 19.2px !important;
  }
  .second-part-height-res{
    height: 110%;
  }
  .copyright{
    height: 100px;
    background-color: #2ecc71;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .copyright-text{
    font-size: 20px;
  }
  .rotating-image{
    height: 130px;
    width: 130px;
    top: 100px !important;
  }
  .trade-section-last-border{
    height: 130px;
    display: flex;
    flex-direction: column;
    .trade-section-last-width{
      width: 0;
      justify-content: center;
      align-items: center;
    }
  }
  .trade-logo-icons-sec{
    flex-direction: column;

  }
  .copyright{
    display: flex;
    align-items: center;
  }

}


@media  (min-width: 601px) and (max-width: 1024px) {
.trade-height-res{
  height: 70vh;
}
  .trade-marquee-area{
    height: 50%;
  }
  .marquee-text-area{
    .custom-marquee{
      height: 120px;
      h1{
        font-size: 100px !important;
        font-family: "Anton", sans-serif;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 3px;

      }

    }
    img{
      top: -30px;
      height: 100px !important;
    }
  }
  .social-icons-width{
    width: 60%;
    .icon-height{
      height: 50%;
      gap: 10px;
    }

  }
  .trade-logo-width{
    width: 30%;
  }
  .trade-section-last-width{
    width: 40%;
  }
  .trade-last-contact{
    height: 100%;
    width: 80%;
    p{
      font-size: 24px !important;
      text-align: center;
    }
  }
  .trade-contact-sec{

     width: 90%;
      font-size: 24px !important;

  }
  .copyright-text{
    font-size: 26px;
  }

}